html.dark {
  color-scheme: dark;

  --dx-scrollbar-color: #a3a6ad4d transparent;

  --dx-color: #74ebd5;
  --dx-bg-color: #1a1a1a;
  --dx-bg-color-soft: #242424;
  --dx-bg-color-mute: #282828;

  --dx-font-color: #ffffffde;
  --dx-font-color-2: #ebebeb99;
}
