:root {
  color-scheme: light;

  --dx-scrollbar-color: #9093994d transparent;

  --dx-color: #74ebd5;
  --dx-bg-color: #ffffff;
  --dx-bg-color-soft: #f8f8f8;
  --dx-bg-color-mute: #f2f2f2;

  --dx-font-color: #213547;
  --dx-font-color-2: #3c3c3cb3;
}
