// 主色调
$color-primary: var(--dx-color);
// 背景色
$bg-color: var(--dx-bg-color);
// 背景色-柔色
$bg-color-soft: var(--dx-bg-color-soft);
// 背景色-哑色
$bg-color-mute: var(--dx-bg-color-mute);

// 字体颜色
$font-color: var(--dx-font-color);
$font-color-2: var(--dx-font-color-2);
// 字体大小
$font-size: var(--dx-font-size);
// 字体
$font-family: var(--dx-font-family);

// 间距
$space: var(--dx-space);
// 圆角大小
$border-radius: var(--dx-border-radius);
// 过渡持续时间
$duration: var(--dx-duration);
